<template>
  <base-view>
    <with-spinner :loading="loadingPage" default-spinner :delay="300">
      <base-view-title>
        Главная
      </base-view-title>
    </with-spinner>
  </base-view>
</template>

<script>
import WithSpinner from '@/core/components/base/spinner/WithSpinner';
import BaseView from '@/core/components/base/view/BaseView';
import BaseViewTitle from '@/core/components/base/view/BaseViewTitle';
export default {
  name: 'DashboardView',
  components: { WithSpinner, BaseViewTitle, BaseView },
  data() {
    return {
      loadingPage: false
    };
  },
  created() {
    this.loadingPage = true;
    setTimeout(() => {
      this.loadingPage = false;
    }, 500);
  }
};
</script>
