<template>
  <v-app>
    <v-navigation-drawer permanent app>
      <the-navigation app-title="Vision" :nav-items="navItems" />
    </v-navigation-drawer>
    <v-app-bar app color="white" class="elevation-0">
      <v-spacer />
      <the-header />
    </v-app-bar>
    <v-main class="grey lighten-4">
      <v-container fluid>
        <router-view />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import TheHeader from '@/core/components/layout/TheHeader';
import TheNavigation from '@/core/components/layout/TheNavigation';

export default {
  name: 'AppLayout',
  components: { TheNavigation, TheHeader },
  data() {
    return {
      navItems: [
        {
          title: 'Главная',
          url: '/'
        },
        {
          title: 'Упражнения',
          url: '/sport/exercises'
        }
      ]
    };
  }
};
</script>

<style scoped></style>
