<template>
  <v-app>
    <v-row justify="center" align="center">
      <router-view />
    </v-row>
  </v-app>
</template>

<script>
export default {
  name: 'AuthLayout'
};
</script>

<style scoped></style>
