<template>
  <div>
    <div v-if="list.length">
      <slot name="list" />
    </div>
    <div v-else>
      <slot name="noList" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'BaseListLayout',
  props: {
    list: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped></style>
