<template>
  <div id="app">
    <with-spinner :loading="fetchUserStatusPending" :delay="1500">
      <template #spinner>
        <v-app>
          <app-loader />
        </v-app>
      </template>
      <div>
        <router-view />
      </div>
    </with-spinner>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import * as authProvider from '@/auth/utils/auth';
import AppLoader from '@/core/components/base/spinner/BaseAppSpinner';
import WithSpinner from '@/core/components/base/spinner/WithSpinner';
import apiStatusComputedFactory from '@/core/utils/api-status-computed-factory';
import * as types from '@/user/store/users/types';

export default {
  name: 'App',
  components: { WithSpinner, AppLoader },
  computed: {
    ...mapGetters({
      user: types.getUser,
      fetchUserStatus: types.getFetchUserApiStatus
    }),
    ...apiStatusComputedFactory('fetchUserStatus')
  },
  methods: {
    ...mapActions({
      fetchUser: types.fetchUser
    })
  },
  created() {
    if (authProvider.hasToken()) {
      authProvider.login(authProvider.getToken());
      this.fetchUser();
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
