<template>
  <base-view>
    <with-spinner :loading="loadingPage" default-spinner :delay="400">
      <base-view-title>
        Упражнения
      </base-view-title>
      <base-view-content>
        <exercises-list :exercises="exercises" />
      </base-view-content>
    </with-spinner>
  </base-view>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import WithSpinner from '@/core/components/base/spinner/WithSpinner';
import BaseView from '@/core/components/base/view/BaseView';
import BaseViewContent from '@/core/components/base/view/BaseViewContent';
import BaseViewTitle from '@/core/components/base/view/BaseViewTitle';
import ExercisesList from '@/sport/components/exercises/ExercisesList';
import * as types from '@/sport/store/exercises/types';

export default {
  name: 'ExercisesView',
  components: {
    BaseViewContent,
    BaseViewTitle,
    BaseView,
    ExercisesList,
    WithSpinner
  },
  computed: {
    ...mapGetters({
      exercises: types.getExercises
    })
  },
  data() {
    return {
      loadingPage: false
    };
  },
  methods: {
    ...mapActions({
      fetchExercises: types.fetchExercises
    })
  },
  async created() {
    this.loadingPage = true;
    await this.fetchExercises();
    this.loadingPage = false;
  }
};
</script>

<style scoped></style>
