<template>
  <div>
    <signin-form />
  </div>
</template>

<script>
import SigninForm from '@/auth/components/SigninForm';

export default {
  name: 'SigninView',
  components: { SigninForm }
};
</script>

<style scoped></style>
