<template>
  <div>
    <v-menu bottom>
      <template v-slot:activator="{ on, attrs }">
        <v-avatar color="primary" :size="45" v-bind="attrs" v-on="on">
          <span class="white--text headline">{{ avatarLabel }}</span>
        </v-avatar>
      </template>
      <v-list>
        <v-list-item link dense>
          <v-list-item-title>Настройки</v-list-item-title>
        </v-list-item>
        <v-list-item link dense @click="handleClick">
          <v-list-item-title>Выход</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import * as authTypes from '@/auth/store/auth/types';
import * as userTypes from '@/user/store/users/types';

export default {
  name: 'TheHeader',
  computed: {
    ...mapGetters({
      user: userTypes.getUser
    }),
    avatarLabel() {
      return this.user.email.toUpperCase()[0];
    }
  },
  methods: {
    ...mapActions({
      logoutUser: authTypes.logoutUser
    }),
    handleClick() {
      this.logoutUser();
    }
  }
};
</script>

<style scoped></style>
