<template>
  <v-list-item-content>
    <v-list-item-title>
      {{ item.title }}
    </v-list-item-title>
  </v-list-item-content>
</template>

<script>
export default {
  name: 'TheNavigationLink',
  props: {
    item: {
      type: Object,
      required: true
    }
  }
};
</script>

<style scoped></style>
