<template>
  <div>
    <the-navigation-header>
      <v-list-item-content>
        <v-list-item-title class="title font-weight-regular blue--text">
          {{ appTitle }}
        </v-list-item-title>
        <v-list-item-subtitle> v{{ appVersion }} </v-list-item-subtitle>
      </v-list-item-content>
    </the-navigation-header>
    <the-navigation-list>
      <v-list-item
        color="primary"
        v-for="item in navItems"
        link
        :to="item.url"
        :key="item.id"
      >
        <the-navigation-link :item="item" />
      </v-list-item>
    </the-navigation-list>
  </div>
</template>

<script>
import TheNavigationHeader from '@/core/components/layout/TheNavigationHeader';
import TheNavigationLink from '@/core/components/layout/TheNavigationLink';
import TheNavigationList from '@/core/components/layout/TheNavigationList';

export default {
  name: 'TheNavigation',
  components: { TheNavigationLink, TheNavigationHeader, TheNavigationList },
  props: {
    appTitle: {
      type: String,
      required: true
    },
    appVersion: {
      type: String,
      default: () => '1.0.0'
    },
    navItems: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped></style>
