<template>
  <v-card class="elevation-7">
    <v-img
      height="250"
      src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
    />
    <v-card-title>
      {{ exercise.title }}
    </v-card-title>
    <v-card-text>
      {{ exercise.description ? exercise.description : defaultExerciseText }}
    </v-card-text>
    <v-card-actions>
      <exercise-update-dialog :exercise="exercise" />
      <exercise-delete-dialog :exercise="exercise" />
    </v-card-actions>
  </v-card>
</template>

<script>
import ExerciseDeleteDialog from '@/sport/components/exercises/ExerciseDeleteDialog';
import ExerciseUpdateDialog from '@/sport/components/exercises/ExerciseUpdateDialog';

export default {
  name: 'ExerciseCard',
  components: { ExerciseDeleteDialog, ExerciseUpdateDialog },
  props: {
    exercise: {
      type: Object,
      required: true
    }
  },
  computed: {
    defaultExerciseText() {
      return 'Вы можете добавить описания для этого упражнения.';
    }
  }
};
</script>

<style scoped></style>
