<template>
  <v-dialog v-model="dialog" persistent max-width="600">
    <template v-slot:activator="{ on, attrs }">
      <v-btn text color="error" v-on="on" v-bind="attrs">
        Удалить
      </v-btn>
    </template>
    <v-card>
      <v-card-title>
        Вы действительно хотите удалить упражнение?
      </v-card-title>
      <v-card-actions>
        <v-btn
          color="primary"
          :loading="deleteExerciseStatusPending"
          :disabled="deleteExerciseStatusPending"
          @click="handleAcceptButtonClick"
        >
          Согласен
        </v-btn>
        <v-btn color="error" @click="handleCancelButtonClick">
          Отмена
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import { apiStatus } from '@/core/constants/api';
import * as types from '@/sport/store/exercises/types';

export default {
  name: 'ExerciseDeleteDialog',
  props: {
    exercise: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      deleteExerciseStatus: types.getMutateExercisesApiStatus
    }),
    deleteExerciseStatusPending() {
      return this.deleteExerciseStatus === apiStatus.PENDING;
    },
    deleteExerciseStatusSuccess() {
      return this.deleteExerciseStatus === apiStatus.SUCCESS;
    }
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    ...mapActions({
      deleteExercise: types.deleteExercise,
      fetchExercises: types.fetchExercises
    }),
    handleCancelButtonClick() {
      this._closeDialog();
    },
    async handleAcceptButtonClick() {
      await this.deleteExercise(this.exercise.id);
      if (this.deleteExerciseStatusSuccess) {
        this._closeDialog();
        this.fetchExercises();
      }
    },
    _closeDialog() {
      this.dialog = false;
    }
  }
};
</script>

<style scoped></style>
