<template>
  <v-dialog
    width="600px"
    persistent
    v-model="dialog"
    @click:outside="handleCloseDialog"
  >
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="primary" class="elevation-0" v-bind="attrs" v-on="on">
        Добавить
      </v-btn>
    </template>
    <template #default>
      <exercise-add-dialog-form
        :loading="addExerciseStatusPending"
        :dialog="dialog"
        @submit="handleSubmitForm"
      />
    </template>
  </v-dialog>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

import { apiStatus } from '@/core/constants/api';
import ExerciseAddDialogForm from '@/sport/components/exercises/ExerciseAddDialogForm';
import * as types from '@/sport/store/exercises/types';

export default {
  name: 'ExerciseAddDialog',
  components: { ExerciseAddDialogForm },
  computed: {
    ...mapGetters({
      addExerciseStatus: types.getMutateExercisesApiStatus,
      error: types.getError
    }),
    addExerciseStatusPending() {
      return this.addExerciseStatus === apiStatus.PENDING;
    },
    addExerciseStatusSuccess() {
      return this.addExerciseStatus === apiStatus.SUCCESS;
    }
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    ...mapActions({
      addExercise: types.addExercise,
      fetchExercises: types.fetchExercises
    }),
    async handleSubmitForm(form) {
      await this.addExercise(form);
      if (this.addExerciseStatusSuccess) {
        this.fetchExercises();
        this._closeDialog();
      }
    },
    handleCloseDialog() {
      this._closeDialog();
    },
    _closeDialog() {
      this.dialog = false;
    }
  }
};
</script>

<style scoped></style>
