<template>
  <v-card>
    <v-card-title>
      <span class="headline">
        Добавить упражнение
      </span>
    </v-card-title>
    <v-card-text>
      <v-form @submit.prevent="handleSubmitForm">
        <v-text-field v-model="form.title" label="Название" />
        <v-textarea v-model="form.description" label="Описание" />
        <v-btn
          type="submit"
          color="primary"
          class="elevation-0"
          :loading="loading"
        >
          Подтвердить
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ExerciseAddDialogForm',
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    dialog: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      form: {
        title: '',
        description: ''
      }
    };
  },
  watch: {
    dialog: {
      handler(dialog) {
        if (!dialog) {
          this.clearForm();
        }
      }
    }
  },
  methods: {
    handleSubmitForm() {
      this.$emit('submit', this.form);
    },
    clearForm() {
      this.form.title = '';
      this.form.description = '';
    }
  }
};
</script>

<style scoped></style>
