<template>
  <v-dialog
    width="600px"
    persistent
    v-model="dialog"
    @click:outside="handleCloseDialog"
  >
    <template v-slot:activator="{ attrs }">
      <v-btn color="primary" v-bind="attrs" text @click="handleButtonClick">
        Редактировать
      </v-btn>
    </template>
    <template #default>
      <exercise-update-dialog-form
        :exercise="exercise"
        :loading="updateExerciseStatusPending"
        @submit="handleSubmitForm"
      />
    </template>
  </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import { apiStatus } from '@/core/constants/api';
import ExerciseUpdateDialogForm from '@/sport/components/exercises/ExerciseUpdateDialogForm';
import * as types from '@/sport/store/exercises/types';

export default {
  name: 'ExerciseUpdateDialog',
  components: { ExerciseUpdateDialogForm },
  props: {
    exercise: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapGetters({
      updateExerciseStatus: types.getMutateExercisesApiStatus,
      error: types.getError
    }),
    updateExerciseStatusPending() {
      return this.updateExerciseStatus === apiStatus.PENDING;
    },
    updateExerciseStatusSuccess() {
      return this.updateExerciseStatus === apiStatus.SUCCESS;
    }
  },
  data() {
    return {
      dialog: false
    };
  },
  methods: {
    ...mapActions({
      updateExercise: types.updateExercise,
      fetchExercises: types.fetchExercises
    }),
    handleButtonClick() {
      this._openDialog();
    },
    async handleSubmitForm(form) {
      await this.updateExercise({ id: this.exercise.id, data: form });
      if (this.updateExerciseStatusSuccess) {
        this._closeDialog();
        this.fetchExercises();
      }
    },
    handleCloseDialog() {
      this._closeDialog();
    },
    _openDialog() {
      this.dialog = true;
    },
    _closeDialog() {
      this.dialog = false;
    }
  }
};
</script>

<style scoped></style>
