<template>
  <v-card>
    <v-card-title>
      Редактировать упражнение
    </v-card-title>
    <v-card-text>
      <v-form @submit.prevent="handleSubmitForm">
        <v-text-field v-model="form.title" label="Название" />
        <v-textarea v-model="form.description" label="Описание" />
        <v-btn
          type="submit"
          color="primary"
          :loading="loading"
          :disabled="loading"
        >
          Подтвердить
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  name: 'ExerciseUpdateDialogForm',
  props: {
    exercise: {
      type: Object,
      required: true
    },
    loading: {
      type: Boolean,
      default: false,
      required: true
    }
  },
  data() {
    return {
      form: null
    };
  },
  methods: {
    handleSubmitForm() {
      this.$emit('submit', this.form);
    }
  },
  created() {
    const { title, description } = this.exercise;
    this.form = Object.assign({}, { title, description });
  }
};
</script>

<style scoped></style>
