<template>
  <base-list>
    <base-list-actions>
      <exercise-add-dialog />
    </base-list-actions>
    <base-list-listing v-if="exercises.length">
      <base-list-item md="4" v-for="exercise in exercises" :key="exercise.id">
        <exercise-card :exercise="exercise" />
      </base-list-item>
      <base-list-pagination />
    </base-list-listing>
    <base-list-no-list v-else>
      Вы еще не создали ни одного упражнения.
    </base-list-no-list>
  </base-list>
</template>

<script>
import BaseList from '@/core/components/base/list/BaseList';
import BaseListActions from '@/core/components/base/list/BaseListActions';
import BaseListItem from '@/core/components/base/list/BaseListItem';
import BaseListListing from '@/core/components/base/list/BaseListListing';
import BaseListNoList from '@/core/components/base/list/BaseListNoList';
import BaseListPagination from '@/core/components/base/list/BaseListPagination';
import ExerciseAddDialog from '@/sport/components/exercises/ExerciseAddDialog';
import ExerciseCard from '@/sport/components/exercises/ExerciseCard';

export default {
  name: 'ExercisesList',
  components: {
    ExerciseAddDialog,
    BaseListItem,
    BaseListPagination,
    BaseListNoList,
    ExerciseCard,
    BaseListListing,
    BaseListActions,
    BaseList
  },
  props: {
    exercises: {
      type: Array,
      required: true
    }
  }
};
</script>

<style scoped></style>
