<template>
  <v-row justify="center" align="center" class="list-spinner">
    <v-progress-circular :size="50" :width="7" color="blue" indeterminate />
  </v-row>
</template>

<script>
export default {
  name: 'BaseListSpinner'
};
</script>

<style lang="scss">
.list-spinner {
  height: calc(100vh - 150px);
}
</style>
