<template>
  <v-app>
    <v-row justify="center" align="center">
      <v-progress-circular :size="70" :width="7" color="blue" indeterminate />
    </v-row>
  </v-app>
</template>

<script>
export default {
  name: 'AppLoader'
};
</script>

<style scoped></style>
