<template>
  <div>
    <div v-if="showSpinner && defaultSpinner">
      <base-list-spinner />
    </div>
    <div v-else-if="showSpinner">
      <slot name="spinner" />
    </div>
    <div v-else>
      <slot />
    </div>
  </div>
</template>

<script>
import BaseListSpinner from '@/core/components/base/spinner/BaseListSpinner';
export default {
  name: 'WithSpinner',
  components: { BaseListSpinner },
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    delay: {
      type: Number,
      default: () => 500
    },
    defaultSpinner: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      showSpinner: false
    };
  },
  watch: {
    loading: {
      immediate: true,
      handler(loading) {
        if (loading) {
          this.showSpinner = true;
          this.timeout = setTimeout(() => {
            if (!this.loading) {
              this.showSpinner = false;
            }
            this.timeout = null;
          }, this.delay);
        } else {
          if (!this.timeout) {
            this.showSpinner = false;
          }
        }
      }
    }
  }
};
</script>

<style scoped></style>
