<template>
  <v-form style="width: 300px" @submit.prevent="handleSubmitForm">
    <v-alert v-if="isAuthenticatedError" type="error">
      Неверный логин и/или пароль.
    </v-alert>
    <v-text-field v-model="form.email" label="Логин" />
    <v-text-field v-model="form.password" label="Пароль" type="password" />
    <v-btn type="submit" color="primary" block :loading="isAuthenticating">
      Войти
    </v-btn>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';

import * as types from '@/auth/store/auth/types';

export default {
  name: 'SigninForm',
  computed: {
    ...mapGetters({
      isAuthenticating: types.isAuthenticating,
      isAuthenticatedError: types.isAuthenticatedError
    })
  },
  data() {
    return {
      form: {
        email: '',
        password: ''
      }
    };
  },
  methods: {
    ...mapActions({
      signinUser: types.signinUser
    }),
    handleSubmitForm() {
      this.signinUser(this.form);
    }
  }
};
</script>

<style scoped></style>
